.container {
  width: 100%;
  max-width: 400px;
}

.go-back {
  position: absolute;
  color: white;
  font-size: 30px;
  left: 20px;
  top: 20px;
}

.date-line-holder {
  display: flex;
  flex-direction: row;
}

.date-line-seperator {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  content: " \B7 ";
}

.seperator {
  border-bottom-color: lightblue;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.details-outer-container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.poster-container {
  display: flex;
  flex-direction: row;
}

.movie-title-area-title {
  font-size: 30px;
}

.movie-title-area {
  color: white;
  padding-left: 40px;
  position: relative;
  justify-self: flex-start;
  align-self: flex-start;
  text-align: start;
}

.movie-title-title {
  font-size: 20px;
  margin-top: 20px;
  text-align: start;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.movie-title-body {
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  text-align: start;
  color: white;
}

.poster {
  left: 30px;
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.4);

  position: relative;
  justify-self: flex-start;
  align-self: flex-start;
  top: -50px;
  border-radius: 15px;
}
